In [9]:
import csv

In [10]:
with open('data/seating.csv','r+') as file:
    reader=csv.reader(file)
    for i in reader:
        
        print(i[2])

Rolls
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("data/seating.csv",index_col=False)
df = df.drop(['Unnamed: 0'],axis=1)

In [93]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [94]:
df['Rolls'].where(df['Branch']=='cse').dropna().iloc[0:1]

0    0.0
Name: Rolls, dtype: float64

In [95]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [142]:
seating_lst = ['cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech',
       'cse', 'ece', 'mech', 'cse', 'ece', 'aie', 'cse', 'aie',
       'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse',
       'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech',
       'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie',
       'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech', 'cse',
       'aie', 'mech', 'cse', 'aie', 'mech', 'cse', 'aie', 'mech',
       'cse', 'aie', 'mech', 'cse', 'aie', 'cse ds', 'cse', 'aie',
       'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds',
       'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse',
       'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie',
       'cse ds', 'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds',
       'cse', 'aie', 'cse ds', 'cse', 'aie', 'cse ds', 'cse',
       'aie', 'cse ds', 'cse', 'aie', 'eee', 'aie', 'ece', 'aie',
       'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece',
       'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie', 'eee',
       'ece', 'aie', 'eee', 'ece', 'aie', 'eee', 'ece', 'aie',
       'civil', 'ece', 'aie', 'civil', 'ece', 'aie', 'civil',
       'ece', 'aie', 'civil', 'ece', 'aie', 'it', 'ece', 'it',
       'civil', 'ece', 'it', '']

df1 = pd.DataFrame(data={"Branch":seating_lst,"Rolls":['empty']*len(seating_lst)})
df1.to_csv("final.csv",index=False)

In [139]:
df1

    Branch  Rolls
0      cse  empty
1      ece  empty
2       it  empty
3      cse  empty
4      ece  empty
..     ...    ...
233     it  empty
234  civil  empty
235    ece  empty
236     it  empty
237         empty

[238 rows x 2 columns]

In [125]:
df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)
df=pd.read_csv("data/data.csv")

In [135]:
dic = {
    "id":"19911A3518",
    "Branch" : "AIE"
}


df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)
df=pd.read_csv("data/data.csv")



if dic["id"] in list(df["Roll Number"]):
    if dic["id"] not in list(df1["Rolls"]):
        if "empty" not in list(df1[df1['Branch']==dic["Branch"].lower()]['Rolls']):
                print(dic["Branch"],"is full")
        else:
            for i in list(df1.index[df1['Branch']==dic["Branch"].lower()]):

                if df1["Rolls"][i] == "empty":
                    df1["Rolls"][i] = dic["id"]
                    print(i)
                    break
    else:
        print("YOU HECK, DON'T FK***n MESS WITH ME. Your seat:",list(df1.index[df1["Rolls"]==dic["id"]])[0])
else:
    print("FK***n GO!@")
df1.to_csv("final2.csv",index=False)

FK***n GO!@

In [ ]:
dic = {
    "id":"19911A3518",
    "Branch" : "AIE"
}


df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)



if dic["id"] not in list(df1["Rolls"]):
    if "empty" not in list(df1[df1['Branch']==dic["Branch"].lower()]['Rolls']):
            print(dic["Branch"],"is full")
    else:
        sub = df1[df1['Branch']==dic["Branch"].lower()]
        lsts = list(sub[sub["Rolls"]=="0"].index.values)
        k = random.randrange(0,len(lsts))
        df1.iloc[lsts[k]]["Rolls"] = dic["id"]
        i=lsts[k]
        print(i)
else:
    print("YOU HECK, DON'T FK***n MESS WITH ME. Your seat:",list(df1.index[df1["Rolls"]==dic["id"]])[0])

df1.to_csv("final2.csv",index=False)