In [9]:
import csv

In [10]:
with open('data/seating.csv','r+') as file:
    reader=csv.reader(file)
    for i in reader:
        
        print(i[2])

Rolls
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("data/seating.csv",index_col=False)
df = df.drop(['Unnamed: 0'],axis=1)

In [93]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [94]:
df['Rolls'].where(df['Branch']=='cse').dropna().iloc[0:1]

0    0.0
Name: Rolls, dtype: float64

In [95]:
df.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [105]:
seating_lst = ['cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse',
       'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece', 'it',
       'cse', 'ece', 'it', 'cse', 'ece', 'it', 'cse', 'ece',
       'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse',
       'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech',
       'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece',
       'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse',
       'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'mech',
       'cse', 'ece', 'mech', 'cse', 'ece', 'mech', 'cse', 'ece',
       'mech', 'cse', 'ece', 'mech', 'cse', 'ece', 'cseds', 'cse',
       'ece', 'cseds', 'cse', 'ece', 'cseds', 'cse', 'ece',
       'cseds', 'cse', 'ece', 'cseds', 'cse', 'ece', 'aie', 'cse',
       'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie', 'aie',
       'cse', 'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie',
       'aie', 'cse', 'aie', 'aie', 'cse', 'aie', 'aie', 'cse',
       'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie', 'aie',
       'cse', 'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie',
       'aie', 'cse', 'aie', 'aie', 'cse', 'aie', 'aie', 'cse',
       'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie', 'aie',
       'cse', 'aie', 'aie', 'cse', 'aie', 'aie', 'cse', 'aie',
       'aie', 'cse', 'it', 'cseds', 'cse', 'it', 'cseds', 'cse',
       'it', 'cseds', 'cse', 'it', 'cseds', 'cse', 'it', 'cseds',
       'cse', 'it', 'cseds', 'cse', 'it', 'cseds', 'cse', 'it',
       'cseds', 'cse', 'ece', 'it', 'cseds', 'ece', 'it', 'eee',
       'ece', 'it', 'eee', 'ece', 'it', 'eee', 'ece', 'it',
       'eee', 'ece', 'it', 'eee', 'ece', 'it', 'eee', 'ece',
       'it', 'eee', 'ece', 'it', 'eee', 'ece', 'it', 'eee',
       'ece', 'it', 'civ', 'ece', 'it', 'civ', 'ece', 'it',
       'civ', 'ece', 'it', 'civ', 'ece', 'it', '']

df1 = pd.DataFrame(data={"Branch":seating_lst,"Rolls":['0']*len(seating_lst)})
df1

    Branch Rolls
0      cse     0
1      ece     0
2       it     0
3      cse     0
4      ece     0
..     ...   ...
233     it     0
234    civ     0
235    ece     0
236     it     0
237            0

[238 rows x 2 columns]

In [106]:
df1.to_csv("final.csv")

In [112]:
df1=pd.read_csv("final.csv")
if "Unnamed: 0" in list(df1.columns):
    df1 = df1.drop(['Unnamed: 0'],axis=1)
df=pd.read_csv("data/data.csv")

In [113]:
df1.head()

  Branch  Rolls
0    cse      0
1    ece      0
2     it      0
3    cse      0
4    ece      0

In [114]:
dic = {
    "id":"19911A3543",
    "Branch" : "AIE"
}
if dic["id"] in list(df["Roll Number"]):
    if dic["id"] not in list(df1["Rolls"]):
        if "0" not in list(df1[df1['Branch']==dic["Branch"].lower()]['Rolls']):
                print(dic["Branch"],"is full")
        else:
            for i in list(df1.index[df1['Branch']==dic["Branch"].lower()]):

                if df1["Rolls"][i] == "0":
                    df1["Rolls"][i] = dic["id"]
                    print(i)
                    break
    else:
        print("YOU HECK, DON'T FK***n MESS WITH ME. Your seat:",list(df1.index[df1["Rolls"]==dic["id"]])[0])
else:
    print("FK***n GO!@")
df1.to_csv("final2.csv")

AIE is full